@using BarbershopManagementSystem.WebUI.ViewModels;
@model DashboardViewModel


<div class="row mb-4">
    <div class="col-md-4">
        <div class="d-flex flex-row widget summary revenue" data-bs-toggle="tooltip" data-bs-placement="top">
            <div class="icon-container p-5">
                <i class="fa-solid fa-dollar-sign fa-2xl"></i>
            </div>
            <div class="d-flex flex-column m-auto py-3">
                <span class="lead">Total Revenue</span>
                <h1 class="display-6 fw-bold" id="revenueValue" data-value="@Model.Summary.Revenue">@Model.Summary?.Revenue </h1>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="d-flex flex-row widget summary partners">
            <div class="icon-container p-5">
                <i class="fa-solid fa-user-group fa-2xl"></i>
            </div>
            <div class="d-flex flex-column m-auto py-3">
                <span class="lead">Customers</span>
                <h1 class="display-6 fw-bold">@Model.Summary.CustomersAmount</h1>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="d-flex flex-row widget summary low-stock">
            <div class="icon-container p-5">
                <i class="fa-solid fa-parachute-box fa-2xl"></i>
            </div>
            <div class="d-flex flex-column m-auto py-3">
                <span class="lead">Barbers</span>
                <h1 class="display-6 fw-bold">@Model.Summary.LowQuantityBarbers</h1>
            </div>
        </div>
    </div>
</div>

<div class="row p-3">
    <div class="col-md-4">
        <div class="widget chart">
            <div class="p-4">
                <h5 class="fw-bold">Enrollments by Services</h5>
            </div>
            <ejs-accumulationchart id="doughnutchart" enableSmartLabels background="#1a222b">
                <e-accumulation-series-collection>
                    <e-accumulation-series dataSource="@ViewBag.EnrollmentsByService"
                                           xName="Service" yName="EnrollmentsCount"
                                           innerRadius="60%" legendShape="Circle"
                                           palettes=@(new string[]{ "#D35400","#3498DB","#27AE60","#1ABC9C","#8E44AD","#F39C12" })>
                        <e-accumulationseries-datalabel name="formattedAmount" visible>
                        </e-accumulationseries-datalabel>
                    </e-accumulation-series>
                </e-accumulation-series-collection>

                <e-accumulationchart-legendsettings position="Top" toggleVisibility="true">
                    <e-legendsettings-textstyle color="white" size="1.2rem"></e-legendsettings-textstyle>
                </e-accumulationchart-legendsettings>
                <e-accumulationchart-tooltipsettings enable="true"></e-accumulationchart-tooltipsettings>
            </ejs-accumulationchart>


        </div>
    </div>

    <div class="col-md-8">
        <div class="widget chart">
            <div class="p-4">
                <h5 class="fw-bold">Yearly transactions report</h5>
            </div>
            <ejs-chart id="spline-chart" background="#1a222b"
                       palettes=@(new string[]{ "#54ffa9", "#ffe91a", "#ab0c63"})>
                <e-chart-primaryxaxis valueType="Category">
                    <e-majorgridlines width="0"></e-majorgridlines>
                    <e-majorticklines width="0"></e-majorticklines>
                </e-chart-primaryxaxis>
                <e-chart-primaryyaxis>
                    <e-majorgridlines width="1" color="#32414d" dashArray="3,5"></e-majorgridlines>
                    <e-majorticklines width="0"></e-majorticklines>
                    <e-linestyle width="0"></e-linestyle>
                </e-chart-primaryyaxis>
                <e-chart-chartarea>
                    <e-chartarea-border width="0"></e-chartarea-border>
                </e-chart-chartarea>
                <e-series-collection>
                    <e-series dataSource="@Model.SplineCharts" xName="Month" yName="Income"
                              width="3" name="Enrollements" type="@Syncfusion.EJ2.Charts.ChartSeriesType.Spline"></e-series>
                </e-series-collection>
                <e-chart-legendsettings position="Top" alignment="Far" toggleVisibility="false">
                    <e-legendsettings-textstyle color="#fff" size="1rem"></e-legendsettings-textstyle>
                </e-chart-legendsettings>
                <e-chart-tooltipsettings enable shared></e-chart-tooltipsettings>
            </ejs-chart>
        </div>
    </div>
</div>

@*Recent Transactions and More*@
<div class="row">
    <div class="col-md-8">
        <div class="widget">
            <div class="p-4">
                <h5 class="fw-bold">Top-performing employees in each position based on highest revenue generated</h5>
            </div>
            <div class="widget px-4 pb-4">
                <ejs-grid id="recent-transactions"
                          dataSource="Model.MostValuableEmployees" gridLines="None">
                    <e-grid-columns >
                        <e-grid-column headerText="Id" field="Id" width="80"></e-grid-column>
                        <e-grid-column headerText="Full name" field="FullName"></e-grid-column>
                        <e-grid-column headerText="Enrollments count" field="EnrollmentsCount"></e-grid-column>
                        <e-grid-column headerText="Position" field="Position" textAlign="Right"></e-grid-column>
                    </e-grid-columns>
                </ejs-grid>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="widget h-100">
            <div class="d-flex justify-content-center align-items-center h-100">
                <span><i class="fa-solid fa-plus fa-2xl"></i> Widget</span>
            </div>
        </div>
    </div>
</div>